doctype html
html
	head
		title test
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAzzUJ3Aad1d1YzEmqjke-ASKJWrxGjUCc&sensor=FALSE')
		script(type='text/javascript', src='/javascripts/bundle.js')
	body
		div#map-canvas