doctype html
html
	head
		title test
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDp1savr4VoZE5i28yF27CnmsjSW_Q3lz4&sensor=FALSE')
		script(type='text/javascript', src='/javascripts/bundle.js')
	body
		div#map-canvas