doctype html
html
	head
		title test
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=places&key=[GOOGLE-PLACES-API-KEY]&sensor=FALSE')
		script(type='text/javascript', src='/javascripts/bundle.js')
	body
		div#map-canvas
